html, body{
	padding: 0;
	margin: 0;
	height: 100%;
}

body {
    background-color: #181818;
    font-size: 14px;
    min-width: 720px;
}
/** {
	font-family: "Helvetica Neue", Helvetica, Arial
	color: #fff;
}*/
#topContainer{
	  min-height: 100%;
	  width: 100%;
}

#navBarContainer{
	  width: 220px;
    background-color: #000;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 20px;
    padding-top: 50px;
}

#contentContainer{
    background-color: #181818;
    height: 100vh;
    width: auto;
    padding-left: 50px;
    margin-left: 220px;
}

#nowPlayingBarContainer{
	bottom: 0;
    width: 100%;
    background-color: #282828;
    position: fixed;
    min-width: 620px;
   
}

#nowPlayingBar{
	display: flex;
	padding: 16px;
    height: 90px;
    box-sizing: border-box;
}

#nowPlayingLeft,
#nowPlayingRight {
	width: 30%;
    min-width: 180px;
}

#nowPlayingRight {
	position: relative;
    margin-top: 16px;
}
#nowPlayingCenter{
	width: 40%;
	max-width: 700px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#nowPlayingBar .content{
	width: 100%;
	height: 57px;
}

.playerControls .buttons{
	margin: 0 auto;
	display: table;
}
.controlButton{
	background-color: transparent;
	border: none;
	vertical-align: middle;
}

.controlButton img{
	height: 20px;
	width: 20px;
}

.controlButton.play img,
.controlButton.pause img{
	height: 32px;
	width:32px;
}

.controlButton:hover{
	cursor: pointer;
}

.progressTime{
	color: #a0a0a0;
	font-size: 11px;
	min-width: 40px;
	text-align: center;
}

.playbackBar {
	display: flex;
}

.progressBar {
	width: 100%;
    height: 12px;
    display: inline-flex;
    cursor: pointer;
}

.progressBarBg {
	background-color: #404040;
    height: 4px;
    width: 100%;
    border-radius: 2px;
}

.progress {
	background-color: #a0a0a0;
    height: 4px;
    width: 0;
    border-radius: 2px;
}

.playbackBar .progressBar {
	margin-top: 3px;
}

#nowPlayingLeft .albumArtwork {
	height: 100%;
    max-width: 57px;
    margin-right: 15px;
    float: left;
    background-size: cover;
}

#nowPlayingLeft .trackInfo{
	display: table;
}

#nowPlayingLeft .trackInfo .trackName{
	margin:6px 0;
	display: inline-block;
	width: 100%;
}

#nowPlayingLeft .trackInfo .trackName span{
	
	color: #fff;
}
#nowPlayingLeft .trackInfo .artistName span{
	font-size: 12px;
	color: #a0a0a0;
}

.volumeBar {
	width: 180px;
    position: absolute;
    right: 0;
}

.volumeBar .progressBar {
	width: 125px;
}

/**my own design for the class submit**/
.navBar .submit{
    font-size: medium;
    font-weight: bold;
    color: dimgrey;
    border: none;
    background-color: #000;
}

.navBar input.submit:hover{
    color: lightgrey;
}
.submit {
	  background-color: #181818;
    color: dimgrey;
    border-radius: 10px;
}

.getSongPlayed {
	  background-color: #181818;
    color: dimgrey;
    border-radius: 10px;
}
/**
the css below only applied to the /albums/id 
s.t. the songs can be added to the playlist
**/

/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 2px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	height:16px;
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 2px 4px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}